* { padding:0; margin:0; outline:0; }

body 
{
    font-family: Verdana, Arial, sans-serif;
    font-size:12px;
    line-height:20px;
    color:#666;
    background:#eeefef;
}

.left { float:left; display:inline; }
.right { float:right; display:inline; }
a { color:#364f86; text-decoration: none; cursor:pointer; }
a:hover { color:#000; }
.orange { color:#d96a02; }
.red { color:#be4856; }
.shell { width:980px; margin:0 auto; }
.shell #lewy { width: 770px; margin:0 auto; float:left; padding-left:5px; padding-right:5px; }
.shell #prawy { width: 190px; margin:0 auto; float:right; padding-left:5px; }


h1, h2, h3, h4, h5 { font-family: "Trebuchet MS", Arial, sans-serif; padding-bottom:8px; }
h1 { font-size:18px; line-height:22px; }
h2 { font-size:17px; line-height:21px; }
h3 { font-size:16px; line-height:20px; }
h4 { font-size:15px; line-height:19px; }
h5 { font-size:14px; line-height:18px; }
h6 { font-size:12px; line-height:16px; padding-bottom:5px; }

#header { background:#364f86; height:82px; }
#header h1{ float:left; white-space:nowrap; padding-top:8px; font-size:25px; line-height:35px; color:#fff;}
#header a{ color:#fff }
#header a:hover{ color:#a1adc7; }
#header #head { height:43px; overflow:hidden; }
#header .right { color:#fff; white-space:nowrap; font-size:10px; }
#header .right p{ padding-top:12px;}
#header .right a strong{ text-decoration: underline; }


#navigation { height:31px; }
#navigation ul{ list-style-type: none; padding-top:8px; font-size:11px; }
#navigation ul li{ float:left; display:inline; margin-right:5px;}
#navigation ul li a,
#navigation ul li a span { float:left; display:inline; height:31px; padding:0 0 0 8px; background:url(images/nav.gif) no-repeat 0 0; }
#navigation ul li a span { padding:0 8px 0 0; background-position:right 0; }
#navigation ul li a { color:#ddadab; line-height:29px;}
#navigation ul li a.active { font-weight: bold;}
#navigation ul li a:hover,
#navigation ul li a.active { background-position:0 bottom; color:#887e42; }
#navigation ul li a:hover span,
#navigation ul li a.active span{ background-position:right bottom; }

#content { padding:20px 0 20px 0; }
#content p{ padding-bottom:15px;}
#content ol,
#content ul{ padding: 0 0 15px 25px;}
#content li{ padding-bottom:3px; }
#content a { text-decoration: underline;}
#content a:hover { text-decoration: none;}
#footer { text-align: center; font-size:11px; padding:10px 0 0 0; color:#666; background:url(images/footer.gif) repeat-x 0 0; height:148px; }
#footer a{ color:#333; }

/* messages */
.message { width:630px; height:auto; background-repeat:no-repeat; background-position:0 0; text-align: left; margin:0 auto 15px auto; font-size:13px;}
.message p{ padding-top:14px;}
.error-message { background-image:url(images/error.gif); color:#973729; }
.thank-message { background-image:url(images/thank.gif); color:#3d8b26; }
.erroricon, .noticeicon, .successicon { padding-left: 45px; }
.successicon { background: url(images/icons/color-success.gif) no-repeat 10px; }
.erroricon { background: url(images/icons/color-error.gif) no-repeat 10px; }
.noticeicon { background: url(images/icons/color-notice.gif) no-repeat 10px; }

/* login form */
.log { width: 300px; margin: 80px auto; }
.login { width:330px; position: relative; -moz-border-radius: 8px; -webkit-border-radius: 8px; border: 1px solid #eee; margin-bottom: 20px; background: url(images/round-bg.png) repeat-x; overflow:hidden; background-color: #fff; }
.login-head h2 { float: left; margin: 10px 0 25px 15px; padding: 0; text-shadow: 0px 1px white;  }
.login-content { padding: 0 15px 15px 15px; clear: both; }
.login-content .text { padding: 10px; }
#passwordForgot { color: #aaa; float: left; margin: 11px; }

/* login form */
.round { position: relative; -moz-border-radius: 8px; -webkit-border-radius: 8px; border: 1px solid #eee; margin-bottom: 20px; background: url(images/round-bg.png) repeat-x; overflow:hidden; background-color: #fff; }
.round h1 { margin-top: 0; }
.round-head h2 { float: left; margin: 8px 0 25px 15px; padding: 0; text-shadow: 0px 1px #fff;  }
.round-content { padding: 0 15px 15px 15px; clear: both; }

#icondock { width: 550px; margin: 0px auto; text-align: center;}
#icondock ul { padding: 0; margin: 0; text-align: center;  }
#icondock ul li a img { margin-bottom: 10px;}
#icondock ul li a { color: #666; display: block; padding: 10px; height: 60px; width: 96px; margin-right: 10px; border: 1px solid #CCC; background-color: #F2F2F2; text-align: center; font-size: 12px; font-weight: bold; margin-top: 5px; margin-bottom: 15px; -moz-border-radius: 3px; }
#icondock ul li { display: inline; float: left; }
#icondock ul li a:hover { background-color: #FFF; border: 1px solid #999; color: #333; text-decoration: none; }

/* sidebox */
.sidebar_box { width:195px; padding:15px 0 5px 0; }
.sidebar_box_top{width:195px;height:8px;background:url(images/sidebar_box_top.gif) no-repeat;}
.sidebar_box_bottom{width:195px;height:8px;background:url(images/sidebar_box_bottom.gif) no-repeat;}
.sidebar_box_content{width:175px;height:auto;background-color:#ecf8fd; padding:0 10px 0 10px;}
.sidebar_box_content h3{ color:#364f86; float:left; font-size:18px; margin:0px;padding:0px; font-weight:normal;}
.sidebar_box_content p{padding:5px 0 5px 0; margin:0px; clear:both; font-size:11px; text-align:left; line-height:17px;}
img.sidebar_icon_right{ float:right; padding:0 0 0 0; }
.sidebar_box_content ul{ list-style:none; padding:10px 0 10px 0; clear:both; }
.sidebar_box_content ul li{ padding:5px 0 5px 10px; background:url(images/list_bullet.gif) no-repeat left top; background-position:0px 14px; }

/* tabble */
#rounded-corner
{
    margin:0px;
    width:765px;
    text-align: left;
    border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
    width:26px;
    background: #364f86 url('images/left.jpg') left top no-repeat;
}
#rounded-corner thead th.rounded-q4
{
background: #364f86 url('images/right.jpg') right top no-repeat;
}
#rounded-corner th
{
    padding: 8px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #364f86;
}
#rounded-corner td
{
padding: 8px;
background: #ecf8fd;
border-top: 1px solid #fff;
color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
background: #ecf8fd url('images/botleft.jpg') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
background: #ecf8fd url('images/botright.jpg') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
background: #d2e7f0;
}

