@charset "utf-8";

* 
{
	margin: 0;
	padding: 0;
}

img { border:0; }

body 
{
	font-family: Tahoma, Geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size:14px;
}

#bg
{
	background: #fff url(images/main-bg.jpg) repeat-x;
}

#main
{
	width: 1002px;
	margin: 0 auto;
	overflow: hidden;
}

a
{
	color:#323232;
	text-decoration:none;
	font-style:bold;
}

a:hover
{
	color:#848484;
	text-decoration:none;
	font-style:bold;
}

h2
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#1f282f;
	margin:18px 0 0 28px;
}
	h2 a
	{
		color:#f0f0f0;
		text-decoration:underline;
		font-style:bold;
	}

h5
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#323232;
	height:29px;
	padding-left:5px;
	background:url(images/h5_bg.png) repeat-x;
}

/* HEADER STYLES */

#header 
{
	position: relative;
	width: 1002px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}
	
#header .logo
{
	position:relative;
	width:259px;
	height:61px;
	float: left;
	margin:5px 0 0 50px;;
}

/* 
	-----------------
	  HEADER MENUS 
	-----------------
*/

#header .top-menu
{
	height:27px;
	float: right;
	margin:30px 20px 0 0;
}

#header .top-menu ul
{
	float: right;
	list-style:none;
}

#header .top-menu ul li
{
	display: inline-block;
	float: left;
	height: 27px;
	margin: 0px 0px 0px 5px;
}

#header .top-menu a
{
	display:block;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	text-decoration:none;
	padding:7px 10px;
}

#header .top-menu a:hover
{
	background:#adc9e3;
	
	 -moz-border-radius: 1em 4em 1em 4em;
	 border-radius: 1em 4em 1em 4em;
}

/* 
	-----------------
	  HEADER SLIDER 
	-----------------
*/

#header .slider
{
	position:relative;
	width:1002px;
	height:329px;
	margin: 0 auto;
	overflow: hidden;
}

#header .slider .text
{
	width:333px;
	height:329px;
	margin-top:45px;
	float:right;
	overflow: hidden;
	padding-right:50px
}

#header .slider .text .title
{
	width:333px;
	height:68px;
	background:url(images/slider-title.png) no-repeat;
	color:#1e282f;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	padding-left:10px;
	padding-top:10px;
}

#header .slider .text .msg
{
	width:333px;
	height:155px;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	padding-left:5px;
	padding-right:5px;
}
.coin-slider 
{ 
	overflow: hidden; 
	zoom: 1; 
	position: relative; 
}

.coin-slider a
{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

.cs-title 
{ 
	float:right; 
}

/* CONTENT STYLES */

#content 
{
	width: 640px;
	margin: 0 auto;
	float: left;
}

#content #box
{
	width: 577px;
	margin: 0 auto;
	overflow: hidden;
}

#content .header
{
	width: 577px;
	height: 53px;
	background:url(images/content-header.png) no-repeat;
	overflow: hidden;
}

#content .content
{
	width: 577px;
	background:url(images/content-bg.png) repeat-y;
	overflow: hidden;
}

#content .footer
{
	width: 577px;
	height: 10px;
	background:url(images/content-footer.png) no-repeat;
	overflow: hidden;
	padding-bottom:20px;
}

#content h2
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#fff;
	margin:20px 0 0 20px;
}

#content .text
{
	margin: 10px 15px 10px 15px;
}

#content p#inf
{
	background:url(images/dotted-line.png) repeat-x;
	font-size: 10px;
	padding: 10px 10px 10px;
	color:#848484;
}

#content .regstyletable
{
	margin: 4px 0px 3px 0px;
	width:	550px;
}

#content .regstyletdname
{
	width:	200px;
}

#content .regstyletdfield
{
	width:	300px;
}

/* RIGHT COOL STYLES */

#cool
{
	width: 360px;
	float: right;
}

#cool #box
{
	width: 291px;
	overflow: hidden;
}

#cool .header
{
	width: 291px;
	height: 53px;
	background:url(images/cool-header.png) no-repeat;
	overflow: hidden;
}

#cool .content
{
	width: 291px;
	background:url(images/cool-bg.png) repeat-y;
	color:#fff;
}

#coll .tekst
{
	padding-left:20px;
	margin-right:20px;
}

#cool .footer
{
	width: 577px;
	height: 13px;
	background:url(images/cool-footer.png) no-repeat;
	overflow: hidden;
	padding-bottom:20px;
}

#cool h2
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#1f282f;
	margin:18px 0 0 28px;
}

#cool .text
{
	margin-left:20px;
	margin-right:30px;
}

#cool .text a
{
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
	text-align:center;
}

#cool .text a:hover
{
	color:#eee;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:underline;
}

/* FOOTER STYLES */

#footer 
{
	background:url(images/footer-bg.jpg) repeat-x;
	height: 129px;
	margin: 0 auto;
	overflow: hidden;
}

#footer .boxes
{
	height:100px;
	margin: 0 auto;
	overflow: hidden;
}

#footer .copyright
{
	color:#a2a3a3;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	text-align:center;
}

#footer .copyright a
{
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:9px;
	text-decoration:none;
	text-align:center;
}

#footer .copyright a:hover
{
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:9px;
	text-decoration:underline;
}

/* FORM */

input, textarea , select
{ 
	padding: 8px;
	border: solid 1px #E5E5E5;
	font: normal 12px Verdana, Tahoma, sans-serif;
	width: auto;
	background: #FFFFFF url('images/form_background.png') left top repeat-x;
}

textarea 
{ 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}

.form label 
{ 
	margin-left: 12px; 
	margin-right: 12px; 
	color: #999999;
	float:right;
}

.submit input 
{
	width: auto;
	padding: 10px 14px;
	background: #2D7BB2;
	border: 2px solid #2D7BB2;
	font-size: 0.9em;
	font-style:bold;
	color: #FFFFFF;
	cursor:pointer;
}

.submit input:hover 
{
	border-color: #5B605D;
	background: #5B605D;
}

.button 
{
	width: auto;
	padding: 10px 14px;
	background: #2D7BB2;
	border: 2px solid #2D7BB2;
	font-size: 0.9em;
	font-style:bold;
	color: #FFFFFF;
	cursor:pointer;
}

.button:hover 
{
  border-color: #5B605D;
  background: #5B605D;
}

.naglowek {background:#d1d1d1; color:#112e4f; padding-left: 3px; padding-top: 3px; padding-bottom 5px; font-weight: bold;}
.wypis1 {background:#e0e0e0; color:#4f545b; padding-left: 3px;}
.wypis2 {background:#e7e7e7; color:#4f545b;padding-left: 3px; padding-top: 3px; padding-bottom 3px;}
.wypis3 {background:#f1f1f1; color:#4f545b;padding-left: 3px;}

#InfoOK
{
	padding-left: 5px;
	padding-right: 5px;
	margin: auto;

	border-width: 2px;
	border-color: #008000;
	border-style: solid;
	
	background-color: #90EE90;
	
	color: #008000;
	font-size: 12px;
	text-decoration: bold;
	
	width: 200px;
}

#InfoZLE
{
	padding-left: 5px;
	padding-right: 5px;
	margin: auto;

	border-width: 2px;
	border-color: #FF0000;
	border-style: solid;
	
	background-color: #F08080;
	
	color: #FF00OO;
	font-size: 12px;
	text-decoration: bold;
	
	width: 200px;
}

/* INFOMATION BOXES */

.warning_box
{
	width:85%;
	clear:both;
	background:url(images/warning.png) no-repeat left #fcfae9;
	border:1px #e9e6c7 solid;
	background-position:15px 10px;
	padding:20px 20px 15px 60px;
	margin:0 0 10px 0;
}

.valid_box
{
	width:85%;
	clear:both;
	background:url(images/valid.png) no-repeat left #edfce9;
	border:1px #cceac4 solid;
	background-position:15px 10px;
	padding:20px 20px 15px 60px;
	margin:0 0 10px 0;
}

.error_box
{
	width:85%;
	clear:both;
	background:url(images/error.png) no-repeat left #fce9e9;
	border:1px #eac7c7 solid;
	background-position:15px 10px;
	padding:20px 20px 15px 60px;
	margin:0 0 10px 0;
}

/* jQuery lightBox - galeria zdjęć */

#jquery-overlay 
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}

#jquery-lightbox 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}

#jquery-lightbox a img 
{ 
	border: none; 
}

#lightbox-container-image-box 
{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}

#lightbox-container-image 
{ 
	padding: 10px; 
}

#lightbox-loading 
{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

#lightbox-nav 
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav 
{ 
	left: 0; 
}

#lightbox-nav a 
{ 
	outline: none;
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext 
{
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}

#lightbox-nav-btnPrev 
{ 
	left: 0; 
	float: left;
}

#lightbox-nav-btnNext 
{ 
	right: 0; 
	float: right;
}

#lightbox-container-image-data-box 
{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}

#lightbox-container-image-data 
{
	padding: 0 10px; 
	color: #666; 
}

#lightbox-container-image-data #lightbox-image-details 
{ 
	width: 70%; 
	float: left; 
	text-align: left; 
}	

#lightbox-image-details-caption 
{ 
	font-weight: bold; 
}

#lightbox-image-details-currentNumber 
{
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}	
		
#lightbox-secNav-btnClose 
{
	width: 88px; 
	float: right;
	padding-bottom: 0.7em;	
}

.thumbnail
{
	float:left;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:10px;
	border:dotted;
	border-color:#CCC;
	border-width:1px;
	position:relative;
}
#gallery 
{
	padding: 10px;
	width: 520px;
}

#gallery ul 
{ 
	list-style: none; 
}

#gallery ul li 
{ 
	display: inline-block; 
}

#UsersInfoStyle
{
	width: 500px;
	margin: auto;
}

#UsersInfoStyle .nick
{
	width: 350px;
	text-align: center;
}

#UsersInfoStyle .tags
{
	width: 120px;
}

#UsersInfoStyle .break
{
	background:url(images/dotted-line.png) repeat-x;
	font-size: 10px;
	padding: 10px 10px 10px;
	color:#848484;
}

.messageListUnactiv
{
	background: #87CEEB;
	border: 2px solid #2D7BB2;
	color: #FFFFFF;
	cursor:pointer;
}

.messageListActiv
{
	background: #4169E1;
	border: 2px solid #2D7BB2;
	color: #FFFFFF;
	cursor:pointer;
}

.messageListUnactiv:hover 
{
  border-color: #5B605D;
  background: #5B605D;
}

.messageListActiv:hover 
{
  border-color: #5B605D;
  background: #5B605D;
}

.FilmsFrame
{
	border: 2px;
}

.FilmsFrame:hover 
{
	background: #BFEFFF;
	border: 2px solid #1E90FF;
}